* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

html {
    scroll-padding-top: 104px;
}

body {
	color: $primary;
	font-family: $font-Montserrat;
	font-size: 12px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1175px;
  margin: 0 auto;
  padding: 0 15px;
}

a.menu__link--active {
	color: $accent;
}




