@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// header

.header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;

    &__scroll {
        background-color: rgba(155, 148, 148, 0.6);
        color: $white;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 10;
        transition: all 0.8s;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 37px;
        padding-bottom: 37px;
    }

    &__logo {
        position: relative;
        z-index: 30;
    }

    &__logo-image {
        img {
            width: 30px;
            height: 30px;
        }
    }

    &__menu {
        margin: 0 15px;
    }
}

.menu {
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__link {
        color: $primary;
        text-transform: uppercase;
        font-weight: bold;
    }
}

// burger - menu 

.burger {
    display: none;
    position: relative;
    width: 25px;
    height: 21px;
    z-index: 20;

    &__line {
        position: absolute;
        height: 2px;
        left: 0;
        right: 0;
        background: $primary;

        &:nth-child(1) {
            top: 1px;
        }

        &:nth-child(2) {
            top: 9px;
        }

        &:nth-child(3) {
            bottom: 1px;
        }
    }
}

// main

.main {

    &__about,
    &__results-work,
    &__work-process,
    &__contacts,
    &__footer {
        padding: 100px 0;
    }

    &__skills {
        padding: 162px 0;
    }

    &__services {
        padding-top: 100px;
        padding-bottom: 60px;
    }

    &__slider {
        padding-top: 180px;
        padding-bottom: 56px;
    }

    &__partners {
        padding: 70px 0;
    }
}

/* section hero */

.hero {
    background: url(../images/home/header/background.png) center left no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
    margin: 0 auto;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding-top: 236px;
    }

    &__title {
        margin-bottom: 38px;
    }

    &__description {
        margin-bottom: 38px;
        font-size: 18px;
        line-height: 28px;
        max-width: 460px;
    }

    &__button {
        @include button;

        &:hover {
            opacity: 0.6;
        }
    }
}

/* section about */

.about {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__description {
        line-height: 24px;
        margin-bottom: 40px;
        max-width: 628px;
    }
}

/* section skills */

.skills {
    background: url(../images/home/about/skills.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 568px;
    height: 100vh;

    &__container {
        display: flex;
    }

    &__content {
        flex: 0 1 50%;
    }

    &__title {
        line-height: 84px;
    }
}

.progress-skills {
    &__title {
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-bottom: 18px;
    }

    &__column {

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &__bar {
        height: 4px;
        border-radius: 4px;
        background-color: rgb(180, 179, 179);
    }

    &__line {
        width: 10%;
        max-width: 100%;
        position: relative;
        height: 4px;
        border-radius: 4px;
        background-color: $accent;
        transition: 2s all;
    }
}

/* section results-work */

.results-work {
    background-color: $accent;
}

.work-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;

    &__column {
        padding: 0 15px;
        flex: 0 1 25%;
        overflow: hidden;
        margin-bottom: 30px
    }

    &__item {
        display: flex;
        justify-content: center;
        height: 100%;
    }

    &__number {
        color: $white;
        font-size: 18px;
        padding-bottom: 15px;
    }

    &__description {
        text-transform: uppercase;
        font-size: 12px;
        color: $white;
        letter-spacing: 1px;
        line-height: 30px;
    }

    &__text {
        margin-left: 15px;
    }
}

.fa-regular {
    color: $white;
    font-size: 35px;
}

/* section gallery */

.gallery {
    &__content {
        display: flex;
        flex-wrap: wrap;
    }

    &__image {
        flex: 0 1 25%;
        cursor: pointer;
        position: relative;
        transition: 0.5s;

        &:hover .gallery__background-hover {
            opacity: 1;
        }
    }

    &__background-hover {
        position: absolute;
        background-color: #252525;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        transition: 1s;
        overflow: hidden;

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__button {
        color: $text-gray;
        width: 100%;
        background-color: $background-color;
        text-align: center;
        border: none;
        outline: none;
        padding: 45px;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 12px;
        letter-spacing: 1px;
    }

    &__image-column {
        display: none;
    }

    &__block-images {
        display: flex;
    }
}

/* section work-process */

.work-process {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__title {
        padding: 40px 0;
    }

    &__description {
        max-width: 506px;
        line-height: 24px;
        padding-bottom: 56px;
    }

    &__video {
        position: relative;
    }

    &__video-image {
        width: 100%;
        max-width: 100%;
        max-height: 570px;
    }

    &__video-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.fa-play {
    color: $white;
    font-size: 20px;
    background-color: $accent;
    border-radius: 50%;
    padding: 34px 37px;
}

/* services */

.services {
    background-color: $background-color;

    &__content {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
}

.column-services {
    margin-bottom: 40px;
    flex: 0 1 25%;
    padding: 0 15px;
    overflow: hidden;

    &__item {
        height: 100%;
    }

    &__title {
        font-size: 12px;
        text-transform: uppercase;
        padding-bottom: 20px;
    }

    &__description {
        line-height: 24px;
        padding-bottom: 20px;
        max-width: 230px;
    }

    &__icon {
        color: rgb(59, 58, 58);
        font-size: 48px;
        padding-bottom: 18px;
    }
}

// Slider 

.slider {
    background-color: $accent;
}

.swiper-slide {
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $white;
    }

    &__text {
        font-size: 24px;
        line-height: 36px;
        padding-bottom: 30px;
        max-width: 824px;
    }

    &__author {
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 36px;
    }

    &__images {
        display: flex;
    }

    &__partners {
        display: flex;
    }
}

.swiper-wrapper {
    &__info {
        margin-bottom: 50px;
    }
}

.swiper-pagination-bullet {
    background-color: $white;
}

// Section partners

.swiper-partners {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Section contacts

.contacts {
    background-color: $background-color;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__title {
        padding-bottom: 40px;
    }

    &__description {
        padding-bottom: 40px;
        max-width: 540px;
    }
}

.form-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    max-width: 670px;
    outline: none;

    &__personal {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__name {
        margin-right: 25px;
    }

    &__name,
    &__email {
        width: 100%;
    }

    &__title {
        margin-bottom: 30px;
        width: 100%;
    }

    &__coments {
        margin-bottom: 30px;
        outline: none;
        width: 100%;
        border: none;
        padding-top: 18px;
        padding-left: 20px;
        height: 180px;
        resize: none;
    }

    &__input {
        padding: 19px 0 19px 20px;
        outline: none;
        border: none
    }

    &__button {
        @include button;

        &:hover {
            opacity: 0.6;
        }
    }
}

// footer 

.footer {
    background-color: $primary;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__company,
    &__contact,
    &__links {
        padding: 15px;
    }
}

.company-footer {
    &__title {
        font-size: 24px;
        color: $white;
        padding-bottom: 20px;
    }

    &__copyright {
        color: $text-gray;
        font-size: 16px;
        max-width: 280px;
    }
}

.contacts-footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__mail {
        padding-bottom: 10px;
    }

    &__mail,
    &__phone {
        color: $text-gray;
        font-size: 16px;
    }
}

.links-footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &__list {
        &:not(:last-child) {
            margin-right: 25px;
        }
    }

    &__link {
        color: $text-gray;
        font-size: 16px;
    }

    &__item {
        &:not(:last-child) {
            padding-bottom: 10px;
        }
    }

    &__social {
        margin-left: 60px;
    }
}

@import 'media';